body, a, table, div, span, td, th, input, select{font-size:12px;font-family: "宋体", Verdana, Arial, Helvetica, sans-serif;}
body {
  background-color: buttonface;
  margin: 2px;
  padding:3px
}
fieldset {
	margin: 5px 10px 5px 10px;
	padding: 5px;
}
input.edit {
  height: 18px;
}
.dialogFoot {
  text-align: right;
  padding: 5px 20px 5px 0;
  height: 40px;
}
a.openSystem {
  color: blue;
  text-decoration: none;
}