.dvItem
 {
   position:absolute;
   width:60px;
   border:1px solid #999999;
   font-size:12px;
   padding:5px;
   height:60px;
   z-index:9;
   background-color:#FFFFFF;
   line-height:16px;
   background: #FFF url('../res/workflow/images//node.png') no-repeat center center;
 }
 .dvItemDeal
 {
   position:absolute;
   width:60px;
   border:1px solid #999999;
   font-size:12px;
   padding:5px;
   height:60px;
   z-index:9;
   background-color:#FFFFFF;
   line-height:16px;
   background: #FFF url('../res/workflow/images//doing.png') no-repeat center center;
 }
 .dvItemFinish
 {
   position:absolute;
   width:60px;
   border:1px solid #999999;
   font-size:12px;
   padding:5px;
   height:60px;
   z-index:9;
   background-color:#FFFFFF;
   line-height:16px;
   background: #FFF url('../res/workflow/images//finish.png') no-repeat center center;
 }
 a
 {
 text-decoration:none;
 color:#333333;
 }
 .dvhline
 {
  position:absolute;
  z-index:17;
  padding:0px;
  margin:0px;
  border-top:1px solid #999927;
 }
 .dvvline
 {
 color:blue;
 position:absolute;
 background-color:#999999;
 width:1px;
 z-index:17;
 }

