body{ margin:0; padding-top:0px; padding:0; text-align:left; font-size:16px; background-image:url(grzc_01.jpg); background-repeat:repeat; font-family:"微软雅黑";}

.banner{ margin:0 auto; height:122px; width:1000px;}
.main{ border:1px solid #e6e6e6; margin:0 auto; margin-top:30px; width:1000px; height:800px; background-color:#ffffff;}
.tb{ width:47px; height:47px; margin-top:20px; margin-left:20px; float:left;}
.bt{ border-bottom:2px solid #d43700; width:898px; height:45px; font-size:18px; line-height:35px; margin-top:20px; margin-left:10px; text-indent:10px;  float:left;}
.xx{ width:955px; height:30px; background-color:#f7f7f7; text-indent:20px; line-height:30px; margin-top:20px; margin-left:20px; float:left;}
.xxnr{ width:955px; height:530px; color:#4d4d4d; margin-top:20px; margin-left:20px; float:left;}
.xxnr input{ border:1px solid #cccccc;}
.qd{ border-right:1px solid #dedede; background-color:#ffff99; width:95px; height:20px; text-align:center;
line-height:20px; font-size:14px; float:left;}
.mqd{ border-right:1px solid #dedede; background-color:#f1f1f1; color:#adadad; width:95px; height:20px; text-align:center;
line-height:20px; font-size:14px; float:left;}
.border{ border:0;}
.dxyz{ width:108px; height:27px; color:#ffffff; font-size:14px; text-align:center; line-height:27px;
background-image:url(grzc_04.jpg); margin-top:10px; float:left;}
.yzm{ width:150px; height:27px; margin-left:20px; margin-top:10px;  font-size:14px; line-height:27px; float:left;}
.zc{ width:71px; height:27px; text-align:center; line-height:27px; margin-left:380px; font-size:14px; color:#ffffff;
background-image:url(grzc_06.jpg); float:left;}
.fh{ width:71px; height:27px; text-align:center; line-height:27px; margin-left:20px; font-size:14px; color:#ffffff;
background-image:url(grzc_07.jpg); float:left;}

.bbxx{ width:100%; height:36px; margin-top:30px; background-color:#919191;}
.wzsm{ widows:130px; height:36px; margin-left:175px; line-height:36px; font-size:14px; color:#d7d7d7; float:left;}
.bqsy{ widows:424px; height:36px; margin-left:440px; line-height:36px; font-size:14px; color:#d7d7d7; float:left;}


