/*项目部 2014.07.11 */
/*说明：项目中，请将下面用不到的样式删除，不要保留在此文档中*/
/*更新说明：按修改的设计规范，添加了英文站的css样式，及微软雅黑字体使用样式；加了内边距的样式*/
/*更新说明：微软雅黑的样式多为加了后缀:'_w',处修改字体外，需把字体大小提高1px;英文站样式多沿用原样式，其他样式加了后缀:'_e',修改字体，增加了几个英文站使用的样式*/
/*网页全局样式开始*/

body {
	/*body基本样式开始*/
    font-family: "宋体", "微软雅黑", Arial, verdana,;/*项目中根据自己项目的需要调整自己的字体，英文站要求使用Arial字体*/
	color:#3d3d3d;
	margin:0px;
	padding:0px;
	text-decoration:none;
	text-align: left;
	background-color: #FFF;
	/*body基本样式结束*/

/*body扩展样式开始*/
    background-repeat: repeat;	/*背景重复*/
	background-position: center;	/*背景居中*//*body扩展样式结束*/
}
/* 图片无边框*/
img {
	border:0;
}
/*定义整个页面的宽度*/
page {
	width:auto;!important;
	max-width:1000px !important;
	margin:0 auto;
 height:auto !important width:1000px;
}
/*表格设置合并边框   注意：如果网页中用到了table的cellspace属性，会将页面的间距全部置为0，请慎用下面的样式*/
table {
	border-collapse:collapse;
}
/*指定当表格的单元格无内容时，显示该单元格的边框，不支持IE6 IE7 IE8(Q)*/
td {
	empty-cells:show;
}
/*页面容器初始化开始,*/
/*注:v1.3及之前为font-size:9pt;line-height:180% */
tr, td {
	font-size:12px;
	color:#3d3d3d;
	line-height:22px;
}
form {
	padding:0px;
	margin:0px;
}
/*页面容器初始化结束*/

/*清除页面底部高度，iframe所致*/
#vishidden {
	display:none
}
/*版通基本样式开始*/
/*整个网页超链接样式开始*/
a {
	text-decoration: none;
	color:#3D3D3D;
}
a:visited {
	color:#3D3D3D;
	text-decoration:none;
}
a:hover {
	text-decoration: none;
	color:#ff0000;
}
/*文章标题样式*/
/*注:v1.3及之前为为font-size:16pt */
.title {
	font-size:22px;
	color:#3D3D3D;
	font-weight:bold;
	line-height:150%;
}
/*微软雅黑字体使用*/
.title_w {
	font-size:23px;
	FONT-FAMILY:微软雅黑;
	color:#3D3D3D;
	font-weight:bold;
	line-height:150%;
}
/*首页、频道页栏目默认标题列表样式 小字体*/
/*注:v1.3及之前为为font-size:9pt */
.bt_link {
	font-size:12px;
	text-decoration:none;
	color:#3d3d3d;
}
/*微软雅黑字体使用*/
.bt_link_w {
	font-size:13px;
	FONT-FAMILY: "微软雅黑";
	text-decoration:none;
	color:#3d3d3d;
}
/*首页、频道页栏目默认标题列表样式 大字体（增）*/
.bt_linkb {
	font-size:14px;
	text-decoration:none;
	color:#3d3d3d;
}
/*微软雅黑字体使用*/
.bt_linkb_w {
	font-size:15px;
	FONT-FAMILY: "微软雅黑";
	text-decoration:none;
	color:#3d3d3d;
}
/*底层栏目页标题列表及文章正文样式 大字体*/
/*注:v1.3及之前为为font-size:10.5pt;line-height:180% */
.bt_content {
	font-size:14px;
	text-decoration:none;
	color:#3D3D3D;
	line-height:26px;
}
/*微软雅黑字体使用*/
.bt_content_w {
	font-size:15px;
	FONT-FAMILY:"微软雅黑";
	text-decoration:none;
	color:#3D3D3D;
	line-height:26px;
}
/*时间显示样式*/
/*注:v1.3及之前为为font-size:9pt */
.bt_time {
	font-size:12px;
	color:#999999;
	FONT-FAMILY:Verdana
}
.bt_date {
	font-size:12px;
	color:#999999;
	FONT-FAMILY:Verdana
}
/*"更多"显示样式*/
/*注:v1.3及之前为为font-size:9pt */
/*英文站可直接使用该样式*/
.bt_more {
	font-size:12px;
	color:#3D3D3D
}
a.bt_more {
	text-decoration:none;
	color:#3d3d3d;
}
a.bt_more:visited {
	text-decoration:none;
	color:#3d3d3d;
}
a.bt_more:hover {
	text-decoration:none;
	color:#ff0000;
}
/*微软雅黑字体使用*/
.bt_more_w {
	font-size:13px;
	color:#3D3D3D
}
a.bt_more_w {
	text-decoration:none;
	color:#3d3d3d;
}
a.bt_more_w:visited {
	text-decoration:none;
	color:#3d3d3d;
}
a.bt_more_w:hover {
	text-decoration:none;
	color:#ff0000;
}
/*下划线样式_虚线*/
.bt_unline {
	border-bottom:#999999 dashed 1px;
}
/*通用导航样式*/
/*注:v1.3及之前为font-size:10.5pt */
/*英文站可直接使用该样式*/
a.white {
	text-decoration:none;
	color:#ffffff;
	font-size:14px;
	font-weight:bold
}
a.white:visited {
	color:#ffffff;
	font-size:14px;
	font-weight:bold
}
a.white:hover {
	color:#ff0000;
	font-size:14px;
	font-weight:bold
}
/*微软雅黑字体使用*/
a.white_w {
	text-decoration:none;
	color:#ffffff;
	font-size:15px;
	font-weight:bold
}
a.white_w:visited {
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
}
a.white_w:hover {
	color:#ff0000;
	font-size:15px;
	font-weight:bold
}
/*通用滚动条*/
.scrollbar {
	/*滚动条的基本颜色*/
		scrollbar-base-color:#c8e8fb;
	/*立体滚动条强阴影的颜色*/
		scrollbar-dark-shadow-color:#F5F1D8;
	/*立体滚动条凸出部分的颜色*/
		scrollbar-face-color:#E8E1B5;
	/*滚动条空白部分的颜色*/
		scrollbar-highlight-color:#c8e8fb;
	/*立体滚动条阴影的颜色*/
		scrollbar-shadow-color:#E8E1B5;
	/*立体滚动条亮边的颜色*/
		scrollbar-3d-light-color:#E8E1B5;
	/*上下按钮上三角箭头的颜色*/
		scrollbar-arrow-color:#4D6185;
}

/*行距*/
/*注:设计规范要求12px字体行距22px;14px字体行距26px; */
.line-height22 {
	line-height:22px;
}
.line-height26 {
	line-height:26px;
}
/*英文站主导航级栏目标题*/
.bt_column_title {
	font-size:16px;
	FONT-FAMILY:Arial;
	font-weight:bold;
	line-height:150%;
}
/*英文站底层栏目页栏目列表*/
.bt_column_e {
	font-size:14px;
	FONT-FAMILY:Arial;
	text-decoration:none;
	font-weight:bold;
	color:#3D3D3D;
	line-height:26px;
}
/*版通基本样式结束*/
/*网页全局样式结束*/

/* 自定义样式开始 */
/*	一些滤镜的样式 慎用，耗内存 */		
/* Glow 扩充的阴影字 支持IE4.0-IE9，不支持其他内核浏览器*/
/*注:v1.3及之前font-size:10.5pt */
.glow {
	FONT-SIZE: 14px;
	filter: Glow(Color=#3D3D3D, Strength=2)
}
/*微软雅黑字体使用*/
.glow_w {
	FONT-SIZE: 15px;
	filter: Glow(Color=#3D3D3D, Strength=2)
}
/* Gradient 渐变 gradientType=0垂直渐变 1水平渐变默认 00完全透明  ff完全不透明， 支持IE5.5-IE9,不支持其他内核浏览器 */
/*注:v1.3及之前为为font-size:10.5pt */
.grad {
	FONT-SIZE: 14px;
 FILTER:progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#FF0000FF, endColorStr=#3d3d3d00)
}
/*微软雅黑字体使用*/
.grad_w {
	FONT-SIZE: 15px;
 FILTER:progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#FF0000FF, endColorStr=#3d3d3d00)
}
/* AlphaImageLoader 图片平铺  scale:拉伸图片满表格 crop:显示图片自身大小并显示背景色 image:只显示图片， 支持IE5.5-IE9,不支持其他内核浏览器*/
.alphaimage {
 filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/图片文件', sizingMethod='scale')
}
/* Blur 模糊阴影字,支持IE5.5-IE9,不支持其他内核浏览器*/
.blur1 {
 filter:progid:DXImageTransform.Microsoft.Blur(makeShadow=true, pixelRadius=1, shadowOpacity=0.25)
}
/* Blur 模糊阴影字，支持IE5.5—IE9，不支持其他内核浏览器 */
.blur2 {
	filter:blur(add=ture, direction=135, strength=6)
}
/* DropShadow 有斜度的阴影字，支持IE4.0-IE9，不支持其他内核浏览器 */
.dropshadow1 {
	color: #ff0000;
	filter: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=1)
}
/*	制作对象的阴影效果 ，支持IE4.0-IE9，不支持其他内核浏览器 */
.dropshadow2 {
 filter:progid:DXImageTransform.Microsoft.DropShadow(color=#FF404040, offX=3, offY=3, positives=true)
}
/*	文字发光，支持IE4.0-IE9，不支持其他内核浏览器 */
.dropshadow3 {
	filter:Dropshadow(offx=1, offy=0, color=white)Dropshadow(offx=0, offy=1, color=white)Dropshadow(offx=0, offy=-1, color=white)Dropshadow(offx=-1, offy=0, color=white)
}
/* 背景透明，支持ie6-IE9、chrome、火狐等等 */
.alphabg {
	FILTER: alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5
}



/* 自定义样式结束 */

/* 便民服务框架样式开始*/

body {background:url(yxfind-pwd_02.png) top repeat-x;}

.mainWth {margin:0px auto; width:1000px;}
#topbanner {height:124px;}

#mainNav {height:36px;}
.bm_list {margin:12px auto; width:950px; height:35px;}
/* 更改当前类别背景图 */
.col_search { margin:0px auto;width:955px; height:131px; background:url(lsc_mzzc_03.jpg) center no-repeat;}

.bm_colmn { float:left;margin-top:40px; margin-left:25px; width:200px; height:45px; line-height:40px; font-family:"微软雅黑"; font-size:25px; color:#8e8a87;}
.bm_search {float:left;margin-top:45px; margin-left:130px; width:300px; height:35px; line-height:32px; font-family:"微软雅黑"; font-size:14px; color:#8e8a87;}
.bm_mid_cont {margin:0px auto;width:955px; margin-top:15px;}

#main { margin-top:12px; border:solid 1px #e6e6e6; background-color:#FFF}

#foot { margin:0px auto; width:100%; height:40px; background-color:#6f6f6f; margin-top:20px}
#foot .copyrigt { margin:0px auto;width:1000px; height:40px; line-height:40px;}





#title{background-color:#f7dbd1; font-family:'微软雅黑'; font-size:15px; font-weight:bold;}
#content tr td{border-bottom:1px solid #e6e6e6; font-family:'微软雅黑'; font-size:14px;}
#tt tr td{font-family:'微软雅黑'; font-size:14px;}
#fy tr td{ font-family:'微软雅黑'; font-size:14px; border:none;}





