/* ::::: http://118.180.24.32:8081/gsjis/ui/css/global.css ::::: */

body { font-family: "Helvetica Neue",helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif; font-size: 14px; }
input, label, textarea, button, fieldset, legend { font-size: 14px; }
form { margin: 0px; }
.input-text { width: 300px; height: 30px; line-height: 30px; border: 1px solid rgb(204, 204, 204); background-color: rgb(252, 252, 252); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; border-radius: 4px; padding: 0px 5px; vertical-align: middle; }
@media not all {
  .input-text { font: 14px "Lucida Sans Unicode","Lucida Grande","Arial",sans-serif; }
}
.btn { display: inline-block; height: 36px; line-height: 36px; font-size: 16px; border: medium none; border-radius: 4px; padding: 0px 20px; color: rgb(51, 51, 51); text-shadow: 0px 1px 0px rgb(255, 255, 255); cursor: pointer; vertical-align: middle; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 2px rgba(255, 255, 255, 0.1) inset; background: transparent -moz-linear-gradient(center top , rgb(239, 239, 239) 0%, rgb(222, 222, 222) 100%) repeat scroll 0% 0%; }
.btn i { margin-right: 5px; }
a.btn:hover, .btn:hover { background-color: rgb(221, 221, 221); }
a.btn-primary:hover, .btn-primary:hover { background-color: rgb(52, 152, 219); }
.btn-small { height: 32px; line-height: 32px; padding: 0px 10px; font-size: 14px; }
.btn-primary { color: rgb(255, 255, 255); text-shadow: none; background: transparent -moz-linear-gradient(center top , rgb(67, 187, 239) 0%, rgb(66, 145, 246) 100%) repeat scroll 0% 0%; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5), 0px 1px 2px rgba(255, 255, 255, 0.1) inset; }
.line-dotted { border-bottom: 1px dotted rgb(204, 204, 204); }
div.panel, div.panel-body { font-size: 14px; line-height: 24px; }
/* ::::: http://118.180.24.32:8081/gsjis/ui/lib/icomoon/style.css ::::: */

@font-face {
  font-family: "hanweb";  font-style: normal;  font-weight: normal;  src: url('../res/fonts/hanweb.eot') format("embedded-opentype"), url('../res/fonts/hanweb.woff') format("woff"), url('../res/fonts/hanweb.ttf') format("truetype"), url('../res/fonts/hanweb.svg') format("svg");}
[data-icon]::before { font-family: "hanweb"; content: attr(data-icon); font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }
.icon-user, .icon-user-2, .icon-user-3, .icon-user-4, .icon-friends, .icon-users, .icon-user-5, .icon-plus-sign, .icon-minus-sign, .icon-remove-sign, .icon-ok-sign, .icon-plus, .icon-minus, .icon-checkmark, .icon-cancel, .icon-close, .icon-checkmark-2, .icon-trash, .icon-trash-2, .icon-trash-3, .icon-trashcan, .icon-trashcan-2, .icon-pen-alt-stroke, .icon-pen-alt-fill, .icon-pen, .icon-pencil, .icon-th-large, .icon-sitemap, .icon-treediagram, .icon-tree, .icon-download, .icon-upload, .icon-chevron-up, .icon-chevron-down, .icon-download-2, .icon-upload-2, .icon-folder-close, .icon-folder-open, .icon-check, .icon-checkbox, .icon-checkbox2, .icon-edit, .icon-edit-2, .icon-compose, .icon-reliability, .icon-list, .icon-list-2, .icon-menu, .icon-foldertree, .icon-download-3, .icon-upload-3, .icon-crop, .icon-crop-2, .icon-export, .icon-share, .icon-key, .icon-key-2, .icon-calendar, .icon-calendar-2, .icon-vcard, .icon-vcard-2, .icon-cog, .icon-wrench, .icon-websitebuilder, .icon-search, .icon-search-2, .icon-floppy, .icon-save, .icon-clock, .icon-stopwatch, .icon-alarm, .icon-locked, .icon-unlocked, .icon-qrcode, .icon-qrcode-2, .icon-barcode, .icon-briefcase, .icon-briefcase-2, .icon-plugin, .icon-puzzle, .icon-loop, .icon-refresh, .icon-print, .icon-shredder, .icon-copy, .icon-paste, .icon-forward, .icon-back, .icon-forward-2, .icon-reply, .icon-undo, .icon-reply-all, .icon-reply-all-2, .icon-forward-3, .icon-undo-2, .icon-redo, .icon-forward-4, .icon-reply-2, .icon-undo-3, .icon-redo-2, .icon-cut, .icon-scissors, .icon-addfriend, .icon-removefriend, .icon-user-6, .icon-user-7, .icon-users-2, .icon-download-4, .icon-upload-4, .icon-signin, .icon-signout, .icon-cloud-download, .icon-cloud-upload, .icon-upload-5, .icon-download-5, .icon-chart, .icon-chart-2, .icon-plug, .icon-fourohfour, .icon-inbox, .icon-icons, .icon-attachment, .icon-chat, .icon-filter, .icon-signup, .icon-ipcontrol, .icon-rubberstamp, .icon-sort, .icon-algorhythm, .icon-home, .icon-html5, .icon-database, .icon-question, .icon-remove { font-family: "hanweb"; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }
.icon-user::before { content: "!"; }
.icon-user-2::before { content: "\\""; }
.icon-user-3::before { content: "#"; }
.icon-user-4::before { content: "$"; }
.icon-friends::before { content: "%"; }
.icon-users::before { content: "&"; }
.icon-user-5::before { content: "\'"; }
.icon-plus-sign::before { content: "("; }
.icon-minus-sign::before { content: ")"; }
.icon-remove-sign::before { content: "*"; }
.icon-ok-sign::before { content: "+"; }
.icon-plus::before { content: ","; }
.icon-minus::before { content: "-"; }
.icon-checkmark::before { content: "."; }
.icon-cancel::before { content: "/"; }
.icon-close::before { content: "0"; }
.icon-checkmark-2::before { content: "1"; }
.icon-trash::before { content: "2"; }
.icon-trash-2::before { content: "3"; }
.icon-trash-3::before { content: "4"; }
.icon-trashcan::before { content: "5"; }
.icon-trashcan-2::before { content: "6"; }
.icon-pen-alt-stroke::before { content: "7"; }
.icon-pen-alt-fill::before { content: "8"; }
.icon-pen::before { content: "9"; }
.icon-pencil::before { content: ":"; }
.icon-th-large::before { content: ";"; }
.icon-sitemap::before { content: "<"; }
.icon-treediagram::before { content: "="; }
.icon-tree::before { content: ">"; }
.icon-download::before { content: "?"; }
.icon-upload::before { content: "@"; }
.icon-chevron-up::before { content: "A"; }
.icon-chevron-down::before { content: "B"; }
.icon-download-2::before { content: "C"; }
.icon-upload-2::before { content: "D"; }
.icon-folder-close::before { content: "E"; }
.icon-folder-open::before { content: "F"; }
.icon-check::before { content: "G"; }
.icon-checkbox::before { content: "H"; }
.icon-checkbox2::before { content: "I"; }
.icon-edit::before { content: "J"; }
.icon-edit-2::before { content: "K"; }
.icon-compose::before { content: "L"; }
.icon-reliability::before { content: "M"; }
.icon-list::before { content: "N"; }
.icon-list-2::before { content: "O"; }
.icon-menu::before { content: "P"; }
.icon-foldertree::before { content: "Q"; }
.icon-download-3::before { content: "R"; }
.icon-upload-3::before { content: "S"; }
.icon-crop::before { content: "T"; }
.icon-crop-2::before { content: "U"; }
.icon-export::before { content: "V"; }
.icon-share::before { content: "W"; }
.icon-key::before { content: "X"; }
.icon-key-2::before { content: "Y"; }
.icon-calendar::before { content: "Z"; }
.icon-calendar-2::before { content: "["; }
.icon-vcard::before { content: "\\"; }
.icon-vcard-2::before { content: "]"; }
.icon-cog::before { content: "^"; }
.icon-wrench::before { content: "_"; }
.icon-websitebuilder::before { content: "`"; }
.icon-search::before { content: "a"; }
.icon-search-2::before { content: "b"; }
.icon-floppy::before { content: "c"; }
.icon-save::before { content: "d"; }
.icon-clock::before { content: "e"; }
.icon-stopwatch::before { content: "f"; }
.icon-alarm::before { content: "g"; }
.icon-locked::before { content: "h"; }
.icon-unlocked::before { content: "i"; }
.icon-qrcode::before { content: "j"; }
.icon-qrcode-2::before { content: "k"; }
.icon-barcode::before { content: "l"; }
.icon-briefcase::before { content: "m"; }
.icon-briefcase-2::before { content: "n"; }
.icon-plugin::before { content: "o"; }
.icon-puzzle::before { content: "p"; }
.icon-loop::before { content: "q"; }
.icon-refresh::before { content: "r"; }
.icon-print::before { content: "s"; }
.icon-shredder::before { content: "t"; }
.icon-copy::before { content: "u"; }
.icon-paste::before { content: "v"; }
.icon-forward::before { content: "w"; }
.icon-back::before { content: "x"; }
.icon-forward-2::before { content: "y"; }
.icon-reply::before { content: "z"; }
.icon-undo::before { content: "{"; }
.icon-reply-all::before { content: "|"; }
.icon-reply-all-2::before { content: "}"; }
.icon-forward-3::before { content: "~"; }
.icon-undo-2::before { content: ""; }
.icon-redo::before { content: ""; }
.icon-forward-4::before { content: ""; }
.icon-reply-2::before { content: ""; }
.icon-undo-3::before { content: ""; }
.icon-redo-2::before { content: ""; }
.icon-cut::before { content: ""; }
.icon-scissors::before { content: ""; }
.icon-addfriend::before { content: ""; }
.icon-removefriend::before { content: ""; }
.icon-user-6::before { content: ""; }
.icon-user-7::before { content: ""; }
.icon-users-2::before { content: ""; }
.icon-download-4::before { content: ""; }
.icon-upload-4::before { content: ""; }
.icon-signin::before { content: ""; }
.icon-signout::before { content: ""; }
.icon-cloud-download::before { content: ""; }
.icon-cloud-upload::before { content: ""; }
.icon-upload-5::before { content: ""; }
.icon-download-5::before { content: ""; }
.icon-chart::before { content: ""; }
.icon-chart-2::before { content: ""; }
.icon-plug::before { content: ""; }
.icon-fourohfour::before { content: ""; }
.icon-inbox::before { content: ""; }
.icon-icons::before { content: ""; }
.icon-attachment::before { content: ""; }
.icon-chat::before { content: ""; }
.icon-filter::before { content: ""; }
.icon-signup::before { content: ""; }
.icon-ipcontrol::before { content: ""; }
.icon-rubberstamp::before { content: ""; }
.icon-sort::before { content: ""; }
.icon-algorhythm::before { content: ""; }
.icon-home::before { content: ""; }
.icon-html5::before { content: ""; }
.icon-database::before { content: ""; }
.icon-question::before { content: ""; }
.icon-remove::before { content: ""; }
/* ::::: http://118.180.24.32:8081/gsjis/ui/widgets/scrollup/css/themes/image.css ::::: */

#scrollUp { bottom: 20px; right: 20px; height: 38px; width: 38px; background: transparent url('../images/top.gif') no-repeat scroll 0% 0%; }
/* ::::: http://118.180.24.32:8081/gsjis/ui/css/page.css ::::: */

html { overflow-y: scroll; }
body { margin: 0px 0px 40px; }
#page-title { min-width: 960px; height: 60px; border-bottom: 1px solid rgb(204, 204, 204); margin: 0px 20px; font-size: 20px; line-height: 60px; }
#page-content { min-width: 960px; margin: 0px 20px; padding-top: 20px; }
.switchmenu { cursor: pointer; }
.switchmenu i { display: none; }
.panel.datagrid { overflow: inherit; }
/* ::::: http://118.180.24.32:8081/gsjis/ui/lib/easyui/themes/bootstrap/panel.css ::::: */

.panel { overflow: hidden; text-align: left; }
.panel-header, .panel-body { border-width: 1px; border-style: solid; }

.panel-body-noheader { border-top-width: 1px; }
.panel-body-noborder { border-width: 0px; }
.panel-header, .panel-body { border-color: rgb(212, 212, 212); }
.panel-body { background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); font-size: 12px; }
/* ::::: http://118.180.24.32:8081/gsjis/ui/lib/easyui/themes/bootstrap/linkbutton.css ::::: */

a.l-btn { background-position: right 0px; text-decoration: none; display: inline-block; height: 24px; padding-right: 18px; cursor: pointer; outline: medium none; }
a.l-btn-plain { border: 0px none; padding: 1px 6px 1px 1px; }
a.l-btn-disabled { color: rgb(204, 204, 204); opacity: 0.5; cursor: default; }
a.l-btn span.l-btn-left { display: inline-block; background-position: 0px -48px; padding: 4px 0px 4px 18px; line-height: 16px; height: 16px; }
a.l-btn-plain span.l-btn-left { padding-left: 5px; }
a.l-btn span span.l-btn-text { display: inline-block; vertical-align: baseline; width: auto; height: 16px; line-height: 16px; font-size: 12px; padding: 0px; margin: 0px; }
a.l-btn span span span.l-btn-empty { display: inline-block; margin: 0px; padding: 0px; width: 16px; }
a.l-btn:hover { background-position: right -24px; outline: medium none; text-decoration: none; }
a.l-btn:hover span.l-btn-left { background-position: 0px bottom; }
a.l-btn-plain:hover { padding: 0px 5px 0px 0px; }
a.l-btn-disabled:hover { background-position: right 0px; }
a.l-btn-disabled:hover span.l-btn-left { background-position: 0px -48px; }
a.l-btn { color: rgb(68, 68, 68); border: 1px solid rgb(187, 187, 187); background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0px, rgb(230, 230, 230) 100%) repeat-x scroll 0% 0%; border-radius: 5px; }
a.l-btn span.l-btn-left { background-repeat: no-repeat; background-image: none; }
a.l-btn:hover { background: rgb(230, 230, 230) none repeat scroll 0% 0%; color: rgb(0, 67, 138); border: 1px solid rgb(221, 221, 221); filter: none; }
a.l-btn-plain, a.l-btn-plain span.l-btn-left { background: transparent none repeat scroll 0% 0%; border: 0px none; filter: none; }
a.l-btn-plain:hover { background: rgb(230, 230, 230) none repeat scroll 0% 0%; color: rgb(0, 67, 138); border: 1px solid rgb(221, 221, 221); border-radius: 5px; }
a.l-btn-disabled, a.l-btn-disabled:hover { color: rgb(68, 68, 68); background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0px, rgb(230, 230, 230) 100%) repeat-x scroll 0% 0%; }
a.l-btn-plain-disabled, a.l-btn-plain-disabled:hover { background: transparent none repeat scroll 0% 0%; }
/* ::::: http://118.180.24.32:8081/gsjis/ui/lib/easyui/themes/bootstrap/pagination.css ::::: */

.pagination {  }
.pagination table { float: left; height: 30px; }
.pagination td { border: 0px none; }
.pagination-btn-separator { float: left; height: 24px; border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(255, 255, 255); margin: 3px 1px; }
.pagination .pagination-num { border-width: 1px; border-style: solid; margin: 0px 2px; padding: 2px; width: 2em; height: auto; }
.pagination-page-list { margin: 0px 6px; padding: 1px 2px; width: auto; height: auto; border-width: 1px; border-style: solid; }
.pagination-info { float: right; margin: 0px 6px 0px 0px; padding: 0px; height: 30px; line-height: 30px; font-size: 12px; }
.pagination span { font-size: 12px; }
.pagination-first { background: transparent url('../images/pagination_icons.png') no-repeat scroll 0px 0px; }
.pagination-prev { background: transparent url('../images/pagination_icons.png') no-repeat scroll -16px 0px; }
.pagination-next { background: transparent url('../images/pagination_icons.png') no-repeat scroll -32px 0px; }
.pagination-last { background: transparent url('../images/pagination_icons.png') no-repeat scroll -48px 0px; }
.pagination-load { background: transparent url('../images/pagination_icons.png') no-repeat scroll -64px 0px; }
.pagination-page-list, .pagination .pagination-num { border-color: rgb(212, 212, 212); }
/* ::::: http://118.180.24.32:8081/gsjis/ui/lib/easyui/themes/default/datagrid.css ::::: */

.datagrid .panel-body { overflow: hidden; position: relative; }
.datagrid-view { position: relative; overflow: hidden; }
.datagrid-view1, .datagrid-view2 { position: absolute; overflow: hidden; top: 0px; }
.datagrid-view1 { left: 0px; }
.datagrid-view2 { right: 0px; }
.datagrid-sort-icon { padding: 0px; }
.datagrid-toolbar { height: auto; padding: 1px 2px; border-width: 0px 0px 1px; border-style: solid; }
.datagrid .datagrid-pager { margin: 0px; border-width: 1px 0px 0px; border-style: solid; }
.datagrid-header { overflow: hidden; cursor: default; border-width: 0px 0px 1px; border-style: solid; }
.datagrid-header-inner { float: left; width: 10000px; }
.datagrid-header-row, .datagrid-row { height: 25px; }
.datagrid-header td, .datagrid-body td, .datagrid-footer td { border-width: 0px 1px 1px 0px; border-style: dotted; margin: 0px; padding: 0px; }
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber { margin: 0px; padding: 0px 4px; white-space: nowrap; overflow-wrap: normal; overflow: hidden; height: 18px; line-height: 18px; font-weight: normal; font-size: 12px; }
.datagrid-body { margin: 0px; padding: 0px; overflow: auto; }
.datagrid-view1 .datagrid-body-inner { padding-bottom: 20px; }
.datagrid-view1 .datagrid-body { overflow: hidden; }
.datagrid-footer { overflow: hidden; }
.datagrid-footer-inner { border-width: 1px 0px 0px; border-style: solid; width: 10000px; float: left; }
.datagrid-header-check, .datagrid-cell-check { padding: 0px; width: 27px; height: 18px; font-size: 1px; text-align: center; overflow: hidden; }
.datagrid-header-check input, .datagrid-cell-check input { margin: 0px; padding: 0px; width: 15px; height: 18px; }
.datagrid-header, .datagrid-td-rownumber { background: transparent linear-gradient(to bottom, rgb(249, 249, 249) 0px, rgb(239, 239, 239) 100%) repeat-x scroll 0% 0%; }
.datagrid-toolbar, .datagrid-pager { background: rgb(244, 244, 244) none repeat scroll 0% 0%; }
.datagrid-header, .datagrid-toolbar, .datagrid-pager, .datagrid-footer-inner { border-color: rgb(221, 221, 221); }
.datagrid-header td, .datagrid-body td, .datagrid-footer td { border-color: rgb(204, 204, 204); }
.datagrid-htable, .datagrid-btable, .datagrid-ftable { color: rgb(0, 0, 0); }
.datagrid-row-alt { background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
/* ::::: http://118.180.24.32:8081/gsjis/ui/widgets/hanweb/grid/css/grid.css ::::: */

.datagrid-toolbar-btn-wrap { float: left; }
.datagrid-toolbar-search-wrap { float: right; }
.datagrid-toolbar { background-color: rgb(255, 255, 255); height: 46px; }
a.datagrid-toolbar-btn { text-decoration: none; display: inline-block; height: 36px; line-height: 36px; padding: 0px 10px; margin-right: 5px; border-radius: 4px; color: rgb(255, 255, 255); cursor: pointer; background: transparent -moz-linear-gradient(center top , rgb(67, 187, 239) 0%, rgb(66, 145, 246) 100%) repeat scroll 0% 0%; }
a.datagrid-toolbar-btn:hover { background-color: rgb(52, 152, 219); }
.datagrid-toolbar-btn i { margin-right: 5px; }
.panel, .datagrid-header, .datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber { font-size: 14px; }
.datagrid-header-row, .datagrid-row { height: 36px; }
.datagrid-header td, .datagrid-body td, .datagrid-footer td { border-style: solid; border-color: rgb(223, 223, 223); }
.pagination-info { font-size: 14px; }
.datagrid-view { border-left: 1px solid rgb(223, 223, 223); border-right: 1px solid rgb(223, 223, 223); }
.pagination table { height: 36px; }
.datagrid-toolbar-simple-search { display: inline; }
.datagrid-toolbar-simple-search form { display: inline; }
.grid-advsearch { display: none; }
.grid-advsearch .line-dotted { margin: 20px 0px; }
.datagrid-cell .btn { height: 24px; line-height: 24px; }
.datagrid-cell-c1-name { width: 78px; }
.datagrid-cell-c1-loginname { width: 107px; }
.datagrid-cell-c1-loginallname { width: 165px; }
.datagrid-cell-c1-groupid { width: 192px; }
.datagrid-cell-c1-groupname { width: 165px; }
.datagrid-cell-c1-headship { width: 107px; }
.datagrid-cell-c1-comptel { width: 136px; }
.datagrid-cell-c1-enable { width: 110px; }
