@charset "utf-8";

.nav-bar {
	padding: 0;
	background-color: #fff;
}

.header-left {
	margin-top: 5%;
	height: 100px;
}

.logo {
	width: 49%;
	height: 100%;
	float: left;
    background: url(../images/login/logo1.png) no-repeat center;
        background-size: 95%;
	/*border: 1px solid #de0000;*/
}
.logo1 {
	width: 1px;
	height: 100%;
	float: left;
	 background: url(../images/login/logo2.png) no-repeat center;
	 background-size: 100%;
/*	background: url(../images/login/logo.png) no-repeat center;*/
	/*border: 1px solid #de0000;*/
}
.logo-container{
	margin-right: auto;
    margin-left: auto;
    width: 525px;
}
.logo img {
	/* margin-top: 18px; */
}

.title {
	width:50%;
	height: 100%;
	background: url(../images/login/logo3.png) no-repeat center;
	    background-size: 95%;
	/* margin-left: 90px; */
    font-size: 46px;
    color: #085bb0;
    font-family: "幼圆" !important;
    font-weight: bolder;
	line-height: 112px;
	padding-left: 0;
	float: left;
	/*border: 1px solid #DE0000;*/
}

.main-swap {
	height: 400px;
	background: #0082EA url(../images/login/login_mid_bg3.jpg) no-repeat center center;
}

.main-swap span {
	font-size: 30px;
	font-weight: blod;
	line-height: 100px;
}

.login-swap {
	background: #fff url(../images/login/login_poper.png) no-repeat left top;
	width: 50%;
	margin: auto;
	border: 1px solid #ccc;
	padding: 10px 20px 5px 20px;
	border-radius: 8px;
	color: #333;
}

.checkLabel {
	display: inline;
}


.control-label,legend {
	font-family: "Microsoft YaHei";
}

.footer {
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #999;
}

.controls input[type='checkbox'] {
	margin-bottom: 2px;
	margin-top: 0px;
}
