<!DOCTYPE html>
<html>
<head> 
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>统一身份认证系统</title>
<link type="text/css" rel="stylesheet" href="${request.contextPath}/static/css/global.css"/>
<script type="text/javascript" src="${request.contextPath}/static/jquery/easyui/jquery.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/jquery/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/jquery/easyui/plugins/jquery.parser.js"></script>
<link type="text/css" rel="stylesheet" href="${request.contextPath}/static/jquery/easyui/themes/bootstrap/linkbutton.css"/>
<script type="text/javascript" src="${request.contextPath}/static/jquery/easyui/plugins/jquery.linkbutton.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/jquery/easyui/plugins/jquery.resizable.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/jquery/easyui/plugins/jquery.draggable.js"></script>
<link type="text/css" rel="stylesheet" href="${request.contextPath}/static/jquery/easyui/themes/bootstrap/panel.css"/>
<script type="text/javascript" src="${request.contextPath}/static/jquery/easyui/plugins/jquery.panel.js"></script>
<link type="text/css" rel="stylesheet" href="${request.contextPath}/static/jquery/easyui/themes/bootstrap/window.css"/>
<script type="text/javascript" src="${request.contextPath}/static/jquery/easyui/plugins/jquery.window.js"></script>
<link type="text/css" rel="stylesheet" href="${request.contextPath}/static/jquery/easyui/themes/bootstrap/messager.css"/>
<script type="text/javascript" src="${request.contextPath}/static/jquery/easyui/plugins/jquery.messager.js"></script>
<link type="text/css" rel="stylesheet" href="${request.contextPath}/static/css/validity.css"/>
<script type="text/javascript" src="${request.contextPath}/static/jquery/ui/validity.js"></script>
<script type="text/javascript" src="${request.contextPath}//static/jquery/ui/validity/validity.js"></script>
<link rel="stylesheet" type="text/css" href="${request.contextPath}/static/css/style.css">

<link type="text/css" rel="stylesheet" href="${request.contextPath}/static/css/image.css"/>
<script type="text/javascript" src="${request.contextPath}/static/jquery/ui/jquery.scrollup.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/jquery/cookie/jquery.cookie.js"></script>
<link type="text/css" rel="stylesheet" href="${request.contextPath}/static/css/page.css"/>
<script type="text/javascript" src="${request.contextPath}/static/layui/layui.js"></script>
<script type="text/javascript" src="${request.contextPath}//static/jquery/ui/page.js"></script>
<link type="text/css" rel="stylesheet" href="${request.contextPath}/static/css/css.css"/>
<script type="text/javascript" src="${request.contextPath}//static/jquery/ui/html5.js"></script>

<style>
body {
	background-color:#F2F2F2;
}
</style>
<script type="text/javascript">
	function submit_(frm) {
		var appmark = frm.appname.value;
		if(frm.loginuser.value == '' && frm.loginpass.value == ''){
			var appName = $('#img' + frm.name.substr(3)).attr("title");
			alert(appName + "系统需要用户预设登录账号，请先设置");
		}else{
			frm.submit();
		}
	}
	
	function managerAll(url){
		window.location.href=url;
	}
</script>
</head>

<body>
<div class="contain" style="min-height: 95%;">
	<div class="top">
	  <div class="nav">
	  	  <span style="padding-left: 5%;">统一身份认证系统</span>
		  <div class="hyzx">
		  	<span>您好！${name}</span>
		  	<span title="个人信息"><a href="###"><img  src="${request.contextPath}/static/images/vip_head.png" width="23" height="23"></a></span>
		  	<span title="主页面"><a href="${request.contextPath}/single/appall.uids"><img src="${request.contextPath}/static/images/index.png" width="22" height="24"></a></span>
		  	<span title="管理后台" style=""><img onclick="managerAll('${request.contextPath}/index.uids')" src="${request.contextPath}/static/images/manage.png" width="22" height="24"></span>
		  	<span title="注销"><a href="${request.contextPath}/sys/logout.uids"><img src="${request.contextPath}/static/images/logout.png" width="22" height="24"></a></span>
		  </div>    	
	  </div>   
	</div>
	<table align="center" border="0" cellspacing="0" cellpadding="0"  style="margin:10px auto 0;">
	  <tr>
	    <td valign="top"><div class="main" style="width: 960px;box-shadow: 5px 5px 5px #e3e3e3;">
	        <div class="sso">
	          <h3>
	          	单点登录
	          </h3>
	          <div class="sso_list2">
	          	<#list list as item> 
	          	<#if item.sysIcon??>
	          	    	<li>
			          		<div style='width: 450px; height: 110px; padding-left: 30px;'>
			          			<img style='cursor:pointer;float:left;' id="img1" name="img1" src='${request.contextPath}/icon/viewIcon.uids?id=${item.sysIcon.uuid}' onclick='submit_(hiddenFrame.document.frm${item_index})' title='${item.name}' width='92' height='92'/>
			          				<h4 title='${item.name}' style='cursor:pointer' onclick='submit_(hiddenFrame.document.frm${item_index})'>${item.name}</h4>
			          				<p style='padding-right:20px' title=''></p>
			          			</ul>
			          		</div>
		          	   </li>
	          	<#else>
	          	      <li>
			          		<div style='width: 450px; height: 110px; padding-left: 30px;'>
			          			<img style='cursor:pointer;float:left;' id="img1" name="img1" src='${request.contextPath}/icon/viewIcon.uids' onclick='submit_(hiddenFrame.document.frm${item_index})' title='${item.name}' width='92' height='92'/>
			          				<h4 title='${item.name}' style='cursor:pointer' onclick='submit_(hiddenFrame.document.frm${item_index})'>${item.name}</h4>
			          				<p style='padding-right:20px' title=''></p>
			          			</ul>
			          		</div>
		          	   </li>
	          	</#if>
	          	</#list>
	          </div>
	          	<iframe id="hiddenFrame" name="hiddenFrame" style="display: none" src="${request.contextPath}/single/hidlist.uids"></iframe>
	          	<table align="center" width="100%" height="50px" border="0">
					<tr>
						<td style="text-align:center;">
						 <a style='width:40px;' href='${request.contextPath}/single/appall.uids' data-transition='pop'><img id='page1' src='${request.contextPath}/static/images/page1.jpg' height='20px' width='20px' style='margin: 0px 10px;'></a>
						</td>
					</tr>
				</table>
	        </div>
	      </div>
	      <div class="clear"></div>
	    </td>
	    <td width="5" valign="top" style=""><img src="${request.contextPath}/static/images/jis_vip_03.jpg" width="5" height="7"></td>
	  </tr>
	  <tr>
	    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:url(http://www.gszwfw.gov.cn${request.contextPath}/resources/jis/front/template/tpl1/images/jis_vip_14.jpg) repeat-x left top">
	        <tr>
	          <td><img src="${request.contextPath}/static/images/jis_vip_12.jpg" width="14" height="8"></td>
	          <td width="100%"></td>
	          <td><img src="${request.contextPath}/static/images/jis_vip_16.jpg" width="5" height="8"></td>
	        </tr>
	      </table></td>
	  </tr>
	</table>
 	<div style="height: 50px;"><div style="text-align:center">注：请至少在三个月内进行一次密码修改！</div>
</div>   
</div>
<div class="bottom">
  <div class="foot"> <span class="copyright">青海省人民政府办公厅版权所有</span> <span class="instruction">建议使用1024*768，IE8浏览器以上为最佳浏览模式</span> </div>
</div>
</body>
</html>