@charset "utf-8";

/* 查询页面 */
.search_list {
	text-align: left;
	width: 71em;
	margin: 0 auto;
}

.search_list li {
	font-size: 1.2em;
	text-shadow: 0 1px #fff;
	color: #732b1f;
	background: #f4dcc7;
	width: 13.5em;
	height: 2.5em;
	line-height: 2.5em;
	border: 2px solid #d1a781;
	border-radius: 5px;
	margin: 0.5em 0.5em 0 0;
	text-align: center;
	box-shadow: 1px 1px 2px #732b1f, 1px 1px 2px #732b1f, 1px 1px 2px
		#732b1f, 1px 1px 2px #732b1f, 1px 1px 2px #732b1f;
	background: url(../images/button.png) left top no-repeat;
	cursor: pointer;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.search_list li.active {
	background-image: url(/images/touch/button_active.png);
	box-shadow: none;
}

.text_input {
	vertical-align: middle;
	width: 13em;
	font-size: 2em;
	line-height: 1.5em;
	padding: 0 0.25em;
	color: #4e4444;
	background: #e4dbcf;
	border-radius: 5px;
	border-top: 1px solid #c08f61;
	border-right: 1px solid #c08f61;
	border-left: 1px solid #d0b595;
	border-bottom: 1px solid #d0b595;
	box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.31);
	outline: none;
}

.text_button {
	color: #fff;
	font-size: 1.5em;
	padding: 0.58em 1.2em;
	line-height: 1em;
	vertical-align: middle;
	background: #e37940;
	border: 1px solid #bd5512;
	border-radius: 5px;
	margin-left: 0.5em;
	cursor: pointer;
	text-shadow: 1px 1px 3px #bd5512;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.keybroad {
	width: 30em;
	text-align: center;
	margin: 0 auto;
}

.keybroad li {
	font-weight: bold;
	border: 1px solid #d0cecc;
	border-radius: 5px;
	margin: 0.2em 0.2em 0 0;
	width: 4em;
	height: 1.5em;
	background: linear-gradient(top, #f5f5f5, #e7e6e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5),
		to(#e7e6e5) );
	background: -moz-linear-gradient(top, #f5f5f5, #e7e6e5);
	background: -o-linear-gradient(top, #f5f5f5, #e7e6e5);
	background: -ms-linear-gradient(top, #f5f5f5, #e7e6e5);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#f5f5f5', endColorstr = '#e7e6e5' );
	color: #f69339;
	font-size: 2.2em;
	text-shadow: 0 2px #fff;
	vertical-align: middle;
	line-height: 1.5em;
	cursor: pointer;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.keybroad li.delete {
	color: #218bfd;
	font-weight: normal;
}

.keybroad li.clear {
	color: #e61e0c;
	font-weight: normal;
}

.stage {
	width: 27.5em;
	margin: 0.5em auto 0 auto;
	border: 1px solid #d0cecc;
	background: linear-gradient(top, #f5f5f5, #e7e6e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5),
		to(#e7e6e5) );
	background: -moz-linear-gradient(top, #f5f5f5, #e7e6e5);
	background: -o-linear-gradient(top, #f5f5f5, #e7e6e5);
	background: -ms-linear-gradient(top, #f5f5f5, #e7e6e5);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#f5f5f5', endColorstr = '#e7e6e5' );
	color: #c78140;
	font-size: 1em;
	padding: 0.3em;
	height: 7em;
	position: relative;
	left: -0.2em;
	text-align: left;
}

/*弹窗*/
.dialog {
	position: absolute;
	background: #fff;
	padding: 0.5em 0;
    width: 60%;
    height: 64%;
    top: 17%;
    left: 20%;
}

.dialog .title {
	font-size: 1.25em;
	color: #fff;
	/*background: #86514e;*/
	text-align: center;
	padding: 0.3em 0;
    margin-left: 195px;
}

.dialog  .list {
	margin: 25px auto;
	border: 1px solid #9c9c9c;
}

.dialog  .list th {
	/*background: #cac5c0;
	color: #2f2d2d;*/
	background: #1C7DD0;
    color: white;
	font-size: 1em;
	padding: 0.25em 1em;
	text-align: center;
}

.dialog  .list td {
	padding: 0.35em 1em;
	font-size: 0.75em;
	background: #f9fdff;
}

.dialog .odd_tr td {
	background: #d6eef7;
}

.dialog .close_btns {
	width: 2.6em;
	height: 2.6em;
	display: block;
	position: absolute;
	right: -1.3em;
	top: -1.3em;
	z-index: 9;
	cursor: pointer;
}

.dialog  .btn {
	background: url(../images/touch/btn_bg.png) no-repeat center;
	width: 100px;
	height: 2em;
	border: none;
	color: #52b609;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}

.marsk {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../images/touch/black.png);
	z-index: 1;
}

.details {
	width: 100%;
	overflow: auto;
	position: absolute;
	top: 3em;
	bottom: 0;
}

.details_title {
	background: url(../images/touch/title_bg.png) no-repeat center;
	width: 157px;
	height: 43px;
	font-size: 20px;
	line-height: 43px;
	color: #423f3f;
	text-indent: 20px;
}

.details img {
	margin-left: 50px;
	float: left;
	padding-top: 30px;
}

.details_text {
	margin-left: 40%;
	padding-top: 20px;
}

.details_box {
	margin-left: 10px;
	border-left: 1px solid #989898;
	padding: 10px;
	color: #616161;
	font-size: 14px;
}

.details_box.last {
	padding-left: 11px;
	border: none;
	background: url(../images/touch/line_bottom.png) no-repeat left bottom;
}