body {
    background: #fcfcfc;
}
.wrapper {
    padding: 10px 10px 5px 10px;
}

.block {
    margin: 10px 2px 10px;
    overflow: auto;
}

.inner_block {
}

.block_title {
    border-bottom: 1px solid #ebebeb;
    color: #1293f5;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}

.block_title div{
	line-height: 40px;
}

/* 今日关注 */
.today_focus {
    border-collapse: collapse;
    height: 200px;
    margin-top: 13px;
    width: 100%;
}

.today_focus th {
    height: 50%;
}
.today_focus td {
    width: 33.33333%
}

.today_focus .line_row {
    background: url(../images/main/line-row-bg.png) repeat-x center;
    height: 1px;
}

.today_focus .line_column {
     background: url(../images/main/line-column-bg.png) repeat-y right;
}

.today_focus .menu_item {
    cursor: pointer;
    height: 75px;
    margin: 0 auto;
    width: 154px;
}
.today_focus .menu_item span { display: block; float: left; font-family: "微软雅黑 Light"; }
.today_focus .menu_item .icon {
    background: url(../images/main/icon-today-focus.png) no-repeat;
    height: 75px;
    width: 75px;
}
.today_focus .menu_item .num {
    font-size: 46px;
    height: 56px;
    line-height: 56px;
    padding-top: 19px;
    text-align: right;
    width: 52px;
}
.today_focus .menu_item .unit {
    font-size: 26px;
    height: 56px;
    line-height: 67px;
    padding-top: 19px;
    vertical-align: bottom;
}
/*正在办理*/
.today_focus td.zdbl:hover { background-color: #f2f9f0; }
.today_focus td.zdbl .menu_item {}
.today_focus td.zdbl .menu_item span { color: #81c868; }
.today_focus td.zdbl .menu_item .icon { background-position: 0px 0px; }
/*今日受理*/
.today_focus td.jrsl:hover { background-color: #edf7ff; }
.today_focus td.jrsl .menu_item {}
.today_focus td.jrsl .menu_item span { color: #4cb2ff; }
.today_focus td.jrsl .menu_item .icon { background-position: -225px 0px; }
/*网上申报*/
.today_focus td.wssb:hover { background-color: #f3f2f9; }
.today_focus td.wssb .menu_item {}
.today_focus td.wssb .menu_item span { color: #796ebe; }
.today_focus td.wssb .menu_item .icon { background-position: -451px 0px; }
/*今日办结*/
.today_focus td.jrbj:hover { background-color: #f7f9fc; }
.today_focus td.jrbj .menu_item {}
.today_focus td.jrbj .menu_item span { color: #6883c8; }
.today_focus td.jrbj .menu_item .icon { background-position: -0px -98px; }
/*督查意见*/
.today_focus td.dcyj:hover { background-color: #fffbf7; }
.today_focus td.dcyj .menu_item {}
.today_focus td.dcyj .menu_item span { color: #ff8c38; }
.today_focus td.dcyj .menu_item .icon { background-position: -225px -98px; }
/*网上咨询*/
.today_focus td.wszx:hover { background-color: #f9fdfc; }
.today_focus td.wszx .menu_item {}
.today_focus td.wszx .menu_item span { color: #5fbeaa; }
.today_focus td.wszx .menu_item .icon { background-position: -451px -98px; }

/* 今日关注 END */

/* 快捷导航 */
/*.shortcut_menu .block_title { border: none; padding: 0; }
.shortcut_menu .block_title ul { }
.shortcut_menu .block_title ul li { list-style: none; display: block; float: left; width: 25%; border-bottom: 1px solid #999999; }
.shortcut_menu .block_title ul li a { color: #999999; cursor: pointer; display: block; font-size: 16px; text-align: center; text-decoration: none; }
.shortcut_menu .block_title ul li.active,
.shortcut_menu .block_title ul li:hover { border-bottom: 1px solid #ffffff; }
.shortcut_menu .block_title ul li.active a,
.shortcut_menu .block_title ul li:hover a { border-bottom: 1px solid #1293f5; color: #1293f5; margin: 0 2px; }
*/
.shortcut_menu .grid {width: 100%; }
.shortcut_menu .grid td {
    color: #666666;
    padding: 2px 4px;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
}
.shortcut_menu .grid tr td:first-child { background: url(../images/main/icon-grid-line.png) no-repeat 10px center; padding-left: 22px; }
.shortcut_menu .grid tr td:last-child { width: 80px; text-align: center; }

.shortcut_menu .grid tr:hover td { background-color: #f6f6f6; }
.shortcut_menu .grid tr:hover td:first-child { background-image: url(../images/main/icon-grid-line-hover.png); }

.shortcut_menu .grid tr td a { cursor: pointer; padding: 0 4px; color: #1293f5; text-decoration: none; }
.shortcut_menu .grid tr td a:first-child { margin-right: 2px; }

.shortcut_menu .grid tr td a:hover {  text-decoration: underline; }

/* 快捷导航 END */

/* 待办列表 */
.todo_list {
}

.todo_list .block_title { }
.todo_list .block_title ul { }
.todo_list .block_title ul li {
	list-style: none;
    display: block;
    cursor: pointer;
    float: left;
    border-bottom: 1px solid #1293f5;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    padding: 10px 5px 5px;
    margin-right: 10px;
    width: 80px;
    height: 24px;
    line-height: 24px; }
.todo_list .block_title ul li a { color: #999999; cursor: pointer; display: block; font-size: 18px; height: 24px; line-height: 24px; text-align: center; text-decoration: none; }
.todo_list .block_title ul li.active { border-bottom: 3px solid #1293f5; }
.todo_list .block_title ul li:hover { border-bottom: 3px solid #1293f5; }
.todo_list .block_title ul li.active a,
.todo_list .block_title ul li:hover a { color: #1293f5; }
/*.todo_list .block_title ul li.active a,
.todo_list .block_title ul li:hover a { border-bottom: 1px solid #1293f5; color: #1293f5; }*/

/*
.todo_list .nav {
    list-style: none;
    border-bottom: 1px solid #ebebeb;
    display: block;
    overflow: auto;
}
.todo_list .nav li {
    display: block;
    float: left;
    height: 74px;
    list-style: none;
    margin-left: 12px;
    width: 78px;
}
.todo_list .nav li:first-child { margin-left: 20px; }

.todo_list .nav li span {
    color: #999999;
    display: block;
    text-align: center;
}

.todo_list .nav li span.count {
    font-family: "微软雅黑 Light";
    font-size: 32px;
    height: 42px;
    line-height: 48px;
}

.todo_list .nav li span.type {
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}

.todo_list .nav li:hover {
    cursor: pointer;
}
*/
/*选中样式
.todo_list .nav li.active {
    height: 71px;
    background-color: #edf7ff;
    border-bottom: 3px solid #249bf3;
}*/
.todo_list .nav li.active span { color: #249bf3; }
/*预警*/
.todo_list .nav li.warning span.count { color: #ff8c38; }
/*超期*/
.todo_list .nav li.overdue span.count { color: #f94040; }

.todo_list .grid {
    margin-top: 0px;
    width: 100%;
}

.todo_list .grid td {
    color: #777;
    padding: 2px 4px;
    border-bottom: 1px dashed #dcdcdc;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
}

/*.todo_list .grid td:first-child { padding-left: 20px; }
*/.todo_list .grid td.op { width: 120px; }

/*时间轴样式*/
.todo_list .grid td.dateICO {
    padding: 0;
    border-bottom: none;
    width: 11px;
    background-image: url(../images/main/icon-date-pointer.png);
    background-position: -21px -22px;
    background-repeat: no-repeat;
}
.todo_list .grid tr:hover td.dateICO { background-position: 0px -22px; }
.todo_list .grid tr:first-child td.dateICO { background-position: -21px 12px; }
.todo_list .grid tr:first-child:hover td.dateICO { background-position: 0px 12px; }
.todo_list .grid tr:last-child td.dateICO { background-position: -21px -60px; }
.todo_list .grid tr:last-child:hover td.dateICO { background-position: 0px -60px; }
/*时间轴样式 END */

.todo_list .grid td.date { border-bottom: none; width: 150px; }

.todo_list .grid td a.btn {
    background-color: #5cbc4b;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
    padding: 0 10px;
}

.todo_list .grid td a.btn.green { background-color: #5cbc4b; color: #FFFFFF; }
.todo_list .grid td a.btn.yellow { background-color: #eba818; color: #FFFFFF; }

.todo_list .grid tr:hover td {
    background-color: #f6f6f6;
    color: #249bf3;
}

/* 待办列表 END */
.notice .more {
    background: url(../images/main/icon-more.png) no-repeat right center;
    color: #777777;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    float: right;
    margin-right: 18px;
    padding-right: 20px;
    text-decoration: none;
}
.notice .more:hover { background-image: url(../images/main/icon-more-hover.png); color: #61aff7; }
.notice .grid {
    margin-top: 12px;
    width: 100%;
}
.notice .grid td {
    color: #666666;
    padding: 2px 4px;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
}
.notice .grid tr td:first-child { background: url(../images/main/icon-grid-line.png) no-repeat center; width: 20px; }
.notice .grid tr td:last-child { width: 100px; }

.notice .grid tr:hover td { color: #1293f5; cursor: pointer; }
.notice .grid tr:hover td:first-child { background-image: url(../images/main/icon-grid-line-hover.png); }
/* 通知公告LIST */

/* 通知公告LIST END */

/*首页公用样式 */
.block_bg { background: #FFFFFF;}

.left { float: left; }
.right { float: right; }

.width_p40 { width: 39%; }
.width_p60 { width: 60%; }

.width_p50 { width: 49.5% }

.height276 { min-height: 276px; }
.height288 { min-height: 288px; }
.height328 { min-height: 328px; }

.block_shadow {
    border: 1px solid #f5f5f5;
}

/*首页公用样式 END */