<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<#include '/common.html'/> 
<title>便捷图标</title>
<script type="text/javascript">
$(function(){
	var trHtml="";
    <#if lists ??>
    trHtml+="<tr>";
    <#list lists as icon>
                     if (${icon_index} == 0) {
                    	 trHtml+="<td>"+"<div class='pic' name ='pic' id='div${icon_index}'>"+"<img id='img${icon_index}' onclick='changSel(${icon_index})'  src='${request.contextPath}/icon/viewIcon.uids?id=${icon.uuid!''}'/>"+"</div>"
              		   +"<div>" + "<div class='class'>"+"<input type='radio' name ='picname' value='img${icon_index}' onfocus='this.blur()'/>${icon.name!''}"+"</div>"
              		   +"</td>";
                     }else if (${icon_index} > 0 && ${icon_index}%5 == 0) {
	            		 trHtml+="</tr><tr>"+"<td>"+"<div class='pic' name ='pic' id='div${icon_index}'>"+"<img id='img${icon_index}' onclick='changSel(${icon_index})'  src='${request.contextPath}/icon/viewIcon.uids?id=${icon.uuid!''}'/>"+"</div>"
              		   +"<div>" + "<div class='class'>"+"<input type='radio' name ='picname' value='img${icon_index}' onfocus='this.blur()'/>${icon.name!''}"+"</div>"
            		   +"</td>";
	            	    }else {
	                           trHtml+="<td>"+"<div class='pic' name ='pic' id='div${icon_index}'>"+"<img id='img${icon_index}' onclick='changSel(${icon_index})'  src='${request.contextPath}/icon/viewIcon.uids?id=${icon.uuid!''}'/>"+"</div>"
	                        		   +"<div>" + "<div class='class'>"+"<input type='radio' name ='picname' value='img${icon_index}' onfocus='this.blur()'/>${icon.name!''}"+"</div>"
	                        		   +"</td>";
	            	    }
	</#list>
	trHtml+="</tr>";
	</#if>
	$('table').append(trHtml);
})
//选择图标
function selepic(){
	var picnames = document.getElementsByName("picname"); 
	var picname;
	var picsrc;
	if(picnames.length > 0){
		for(var i = 0 ; i < picnames.length ; i ++){
			if(picnames[i].checked){
				picname = picnames[i].value;
			}
		}
	}
	picsrc = document.getElementById(picname).src;
	getParentWindow().writeimgpath(picsrc);
	closeDialog();
}

//改变选择
function changSel(id){
	var obj=document.getElementsByName("picname");
	var imgs=document.getElementsByName("pic");
	obj[id].checked = true;
	for (var i=0;i<imgs.length;i++) {
		if (i == id) {
			$("#div"+i).css('background-color','#b0b0b0');
		} else {
			$("#div"+i).css('background-color','#fff');
		}
	}
	
}
</script>
<style type="text/css">
	.pic{
		width:100px;
		height:90px;
		text-align: center;
		line-height: 80px;
		cursor: pointer;
		padding: 10px;
	}
	.class{
	    margin-left: 20px;
	    text-align: left;
	}
</style>
</head>
<body>
	<div style="height:300px;overflow-y:scroll;overflow-x:hidden;">
		<table style="align:center;valign:middle;">
		</table>
	</div>
		<div id="dialog-toolbar">
			<div id="dialog-toolbar-panel">
				<input type="button" class="btn btn-primary" onclick="selepic();" value="保存" /> <input
					type="button" class="btn" value="取消" onclick="closeDialog();" />
			</div>
</body>
</html>