<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title> <#include '/common.html'/> <#include
'/tree.html'/>
</head>
<script type="text/javascript">
	//保存的参数
	var sparams = {};
	$(function() {
		$('#datagrid').datagrid({
			url : '${request.contextPath}/role/auth/listData.uids',
			queryParams:{roleId : $.trim($('#roleId').val())},
			loadMsg : '正在加载数据，请稍后...',
			fitColumns : true,
			striped : true,
			fit : true,
			border : false,
			pagination : true,
			columns : [ [
                                {checkbox: true, field:'uuid'},
					{field : 'orgName',title : '授权机构',width : 20},
					{field : 'orgGroupName',title : '机构分组',width : 20},
					{field : 'typeName',title : '授权方式',width : 20,
						formatter: function(value,row,index){
					                    	if (row.type == 'roleGrant'){
					                    		return '单级授权';
					                    	}
					                    	if (row.type == 'groupGrant'){
					                    		return '分组授权';
					                    	}
					  }	
					},
					{field : 'sourceName',title : '授权资源',width : 20},
					{field : 'grant',title : '授权类型',width : 20,
						formatter: function(value,row,index){
					　　　　　　　　　if (row.grant){
					                    if(row.grant!= ''){
					                    	var nameCh = '';
					                    	var array = row.grant.split(',');
					                    	for (var i = 0;i < array.length; i++) {
					                    	    if (array[i] == 'create'){
					                    	    	nameCh += '创建、'
					                    	    }
					                    	    if (array[i] == 'view'){
					                    	    	nameCh += '浏览、'
					                    	    }
					                    	    if (array[i] == 'update'){
					                    	    	nameCh += '修改、'
					                    	    }
					                    	    if (array[i] == 'delete'){
					                    	    	nameCh += '删除、'
					                    	    }
					                    	    if (array[i] == 'export'){
					                    	    	nameCh += '导出、'
					                    	    }
					                    	    if (array[i] == 'import'){
					                    	    	nameCh += '导入、'
					                    	    }
					                    	};
					                        return nameCh.substring(0,nameCh.length-1);
					                    } else {
					                    	return '';
					                    }
					           }
					  }	
					}
					<@hasPerm perms="admin, app_admin">
					,
					{field : 'caozuo',title : '操作',width : 20,
						formatter : function(value, row) {
							return '<ul><li class="operation">'
							+'<a class="hwq2button write" onclick="authDelete(this)" objId="'+ row.uuid+ '">删除</a>'
							+'</li></ul>';
						}
					}
					<@hasPerm
					] ],
			toolbar : '#grid_toolbar'
		});
		//初始化分页
		$('#datagrid').datagrid('getPager').pagination({
			beforePageText: '当前第',
			afterPageText: '页，共 {pages} 页',
			displayMsg: '当前显示 {from} 到 {to} ，共 {total} 条记录'
	    });
	});

	function addGrant() {
		var roleId = $("#roleId").val();
        openDialog("${request.contextPath}/role/auth/newOrEdit.uids?roleId="+roleId, 600, 400, {title : '资源授权'});
	}
	function editGrant(obj) {
		var id = $(obj).attr('objId');
		var roleId = $("#roleId").val();
        openDialog("${request.contextPath}/role/auth/newOrEdit.uids?roleId="+roleId+"&id="+id, 600, 400, {title : '授权编辑'});
	}
	function authDelete (object) {
		var id = $(object).attr('objId');
		confirmLayer = layer.confirm("您确定要删除这条记录吗", {
		    btn: ['确定','取消']
		}, function() {
			$.ajax({
				url : '${request.contextPath}/auth/authDelete.uids',
				type : 'post',
				data : {authId : id},
				dataType : 'json',
				beforeSend : function() {
					loadLayer = layer.load(0, {
						shade : [ 0.5, '#fff' ]
					});
				},
				success : function(data) {
					layer.close(loadLayer);
					if (data.state == 1) {
						layer.msg(data.info, {icon: data.state, time: 1500, shade: [0.5, '#fff']}, function() {
							refresh();
			    		});						
					} else {
						layer.alert(data.info);
					}
					$('#datagrid').datagrid('reload');
				}
			}); 
		})
	}
</script>
<body class="easyui-layout" id="sourceGrant">
	<div region="north" style="height: 65px;">
		<div>
			<input type="hidden" name="parentId" id="pid" value="" />
			<input type="hidden" name="roleId" id="roleId" value="${roleId}" /> <input
				type="hidden" name="sourceId" id="sourceId" value="" />
		</div>
		<div id="page-title" style="font-size: 16px">
			<ul style="float: left">
				<li>授权列表</li>
			</ul>
			<@hasPerm perms="admin, app_admin">
			<ul style="margin-left: 600px;">
				<li><input type="button" value="添加授权信息" onclick="addGrant()"
					class="btn btn-success btn-small" style="width: 103px" /></li>
			</ul>
			</@hasPerm>
		</div>
	</div>
	<div data-options="region:'center'" style="border: 0">
		<table id="datagrid"></table>
	</div>
</body>
</html>