<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>正向代理应用</display-name>
  <welcome-file-list>
    <welcome-file>index.uids</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-application.xml</param-value>
  </context-param>
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  
  <!-- 拦截sso相关请求，必须放在第一个filter -->
  <filter>
		<filter-name>SSOLoginFilter</filter-name>
		<filter-class>com.gsww.uids.client.filter.GeneralSSOFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>SSOLoginFilter</filter-name>
	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>uids-forword-client</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uids-forword-client</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- 处理由应用开始的单点登录 -->
  <servlet>
	<servlet-name>LoginProxyServlet</servlet-name>
	<servlet-class>com.gsww.uids.client.servlet.LoginProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>LoginProxyServlet</servlet-name>
	<url-pattern>/SSOProxyServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 处理由个人中心开始的单点登录 -->
  <servlet>
	<servlet-name>GetLongUrlServlet</servlet-name>
	<servlet-class>com.gsww.uids.client.servlet.GetLongUrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>GetLongUrlServlet</servlet-name>
	<url-pattern>/GetLongUrlServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>HibernateSpringFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>sessionFactory</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>HibernateSpringFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.do</location>
  </error-page>
  
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.do</location>
  </error-page>
</web-app>